New-Item -Name .gitignore -ItemType File -Force
@"

.env
*.tmp
*.log
*.egg-info/

models/
notebooks/

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.DS_Store
Thumbs.db
"@ | Out-File -Encoding utf8 .gitignore
